<form method="post">
    <div style="height: 100px; width: 100px; background: <%=color %>" name="color">
    </div>
    <button type="submit" value="red" name="r">RED</button>
    <button type="submit" value="blue" name="b">BLUE</button>
    <button type="submit" value="green" name="g">GREEN</button>



</form>