<%=number %>

<form method="POST">
<input type="number" name="number" value="<%=number %>">
<button type="submit" value="increase" name="i">increase</button>
<button type="submit" value="decrease" name="d">decrease</button>
</form>